@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

*{
  margin:0;
  padding:0;
  text-decoration: none;
}

body{
  font-family: 'Noto Sans', sans-serif;
}


:root{
  --mainWhite:#FFFFFF;
  --lightOrange:#FCF4EA;
  --fontColor:#949494;;
  --mainBlack:#212529;
  --mainGreen:#277da1;
  --mainOrange:#ED8850;
}